.env
# secrets.yaml

# Byte-compiled / optimized / DLL files
__pycache__
# Ignore all .log files
*.log
# Ignore temp word files
~$*

#ignore personal input files (just resume)
resume.pdf
user_data.yaml
# user_data.yaml
# ignore testing folder
testing/

# ignore all .pyc files (build)
*.spec
build/